h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  text-transform: none;
  /* color: rgba(251, 173, 26, .8); */
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}

.team-member a:link,
a:active,
a:visited{
  color:rgba(255,255,255,1);
}

.team-member a:hover{
  color:rgba(255,255,255,0.6);
}

.gray {
  color: #a5a5a5;
}

.team{
  margin:40px;
}
.our-team-page .role-title{
    border-top: solid 1px lightgray;
    padding-top: 8px;
}

.team-member {
  margin: 15px 0;
  padding: 0;
}



.team-member figure {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.team-member figure img {
  min-width: 100%;
}

.team-member figcaption p {
  font-size: 16px;
}

.team-member figcaption ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-member figcaption ul {
  visibility: visible;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
  display: inline-block;
  padding: 10px;
}

.team-member h4 {
  margin: 10px 0 0;
  padding: 0;
}

.toggle .toggle-heading h5{
    margin: 0;
    padding: 5px;
    text-align: center;
   
}

.toggle-heading > a:before {
    /* float: right !important; */
    position: absolute;
    right: 25px;
    top: 4px;
    font-family: FontAwesome;
    content: "\f107";
    padding-right: 5px;
}
.toggle-heading > a.collapsed:before {
    position: absolute;
    right: 25px;
    top: 4px;
    content: "\f105";
    
}

.toggle .toggle-heading a {
    margin-top: 10px;
    display: block;
    /* padding: 1px 1px 0px 50px; */
    background: #FFFFFF;
    /* border: 1px solid #d7d7d7; */
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    border-radius: 0;
    color: #414141;
    position: relative;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    box-shadow:none ;
}

.team-member figcaption {
  padding: 40px;
  color: transparent;
  background-color: transparent;
  position: absolute;
  z-index: 996;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
  visibility: visible;
  color: #fff;
  background: rgba(251, 173, 26, .8);
  /* Primary color, can be changed via colors.css */
  
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
  color: rgba(49, 49, 49, .97);
}

.team-member figure img {
  -webkit-transform: scale(1) rotate(0) translateY(0);
  -moz-transform: scale(1) rotate(0) translateY(0);
  -o-transform: scale(1) rotate(0) translateY(0);
  -ms-transform: scale(1) rotate(0) translateY(0);
  transform: scale(1) rotate(0) translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
  -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
  -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
  -o-transform: scale(1.1) rotate(1deg) translateY(12px);
  -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
  transform: scale(1.1) rotate(1deg) translateY(12px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}